
body {
  overflow-y: scroll;
  
}

/* Global styles */
body {
  font-family: Arial, sans-serif; /* Change the font family as desired */
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Change the background color as desired */
}

